/* --- Modal (node) --- */

#chart-modal-full-img {
    width: 100%;
    padding-bottom: 40%;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
}

#chart-modal-img-slider {
    width: 100%;
    /*padding-bottom: 40%;*/
    height: 430px;
    /*
    background-repeat: no-repeat;
    background-size: cover;
    */
    margin-bottom: 40px;
}

#chart-modal-img-slider .glide__track ul {
    display: flex;
    height: 430px;
}

#chart-modal-img-slider .glide__track ul li {
    text-align: center;
    list-style: none;
}

#chart-modal-img-slider .glide__track ul li iframe {
	border: none;
	height: 350px;
	width: 80%;
}

#chart-modal-img-slider .glide__track ul li img {
	max-height: 350px;
}

#chart-modal-img-slider .glide__bullets {
    /*bottom: 0.5em;*/
    bottom: inherit;
}

#chart-modal-img-slider .glide__bullets .glide__bullet {
    /*bottom: 0.5em;*/
    bottom: inherit;
}

#chart-modal-img-slider .glide__bullet {
    background-color: rgba(0,0,0,.5);
}

#chart-modal-img-slider .glide__bullet--active {
    background-color: rgba(0,0,0,.75);
}

#chart-modal-img-slider .copyright, #chart-modal-img-slider .description {
    font-size: 12px;
    /*font-weight: bold;*/
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}

#chart-modal-img-slider .copyright {
    font-style: italic;
}

#chart-modal-img-slider-controls {
    padding: 0 40px;
    position: absolute;
    top: 50%;
    width: 100%;
}

#chart-modal-img-slider-controls .right {
    float: right;
}

#chart-modal-img-slider-controls button {
    background-color: rgba(0,0,0,.5);
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    /*padding: 6px 10px;*/
    line-height: 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-family: sans-serif;
}

#chart-modal-img-slider-controls button:hover {
    background-color: rgba(0,0,0,.75);
}


#chart-modal-inner {
    padding: 20px 40px 40px 40px;
    text-align: left;
}

#modal-node-type {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #717171;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin-bottom: 0;
}

#modal-node-year {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #717171;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin-bottom: 0;
    float: right;
}

#modal-node-countries {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.02em;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 1em;
    color: #7EB852;
    margin-top: 0px;
}

#modal-node-title {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

#modal-node-description {
    font-size: 15px;
    line-height: 1.75;
    margin: 0 auto;
    /*
    max-height: 200px;
    overflow-y: scroll;
    */
}

#chart-modal-img-row {
    width: 100%;
    display: flex;
    box-shadow: inset 0 -6px 0 black;
}

.modal-img-div {
    height: 100%;
}

.modal-img-div img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    z-index: -1;
}

#modal-node-link {
    margin-top: 20px;
}

#modal-node-link a {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.02em;
    color: #206CA9;
}

#modal-node-watch {
    margin-bottom: 20px;
}

#modal-node-watch a {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.02em;
    color: #206CA9;
    text-decoration: underline;
    cursor: pointer;
}

#permalink {
    margin: 20px 40px;
    text-align: center;
    font-family: monospace;
    border: #cccccc 1px;
    background-color: #dddddd;
    padding: 10px;
}

#permalink a {
    text-decoration: underline;
    color: #206CA9;
}